.legend {
  display: flex;
  align-items: center;

  div {
    margin-right: 0.25rem;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.legend-dismiss {
  margin-left: auto;
}
