@import "sass-material-colors";

.root {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.messages {
  height: 100%;
  overflow-y: auto;
  padding: 0.5rem 0;

  li {
    padding: 0.5rem 1rem;
  }
}

.header {
  padding: 1rem;

  h1 {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 0.25rem;
      transform: translateY(-50%);
    }
  }
}

.handle {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 0.95rem;
  font-weight: 300;
  color: material-color("grey", "600");
}

.editor {
  padding: 1rem;
}

.typing {
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  display: none;

  > div {
    margin-right: 0.35rem;
  }
}

.typing-visible {
  display: flex;
}
